
<div class="md-padding" layout="row">    
    <md-button ng-click="vm.openCategoryModal($event)" class="md-fab md-primary">
        <md-icon>add</md-icon>
    </md-button>    
</div>
	
<md-content class="md-padding" layout-md="column"  layout="row" layout-wrap>
    <div flex-md flex-gt-md="25" layout="column" ng-repeat="c in vm.bookmarkList">
        <md-card>
            <md-card-title class="bookmark-heading">
                <md-card-title-text layout="row" style="position:relative;">
                    <div flex="10">
                        <span ng-click="vm.openCategoryModal($event, false, c._id)" class="bk-del-icon">
                            <i style="margin-top: 10px;" class="material-icons md-light md-24">add</i>
                        </span>
                     </div>
                    
                    <div flex="90"><h2 class="md-headline">{{c.category_type | uppercase}} </h2></div>
                    
                     
                     <div flex="10">
                        <span ng-click="vm.deleteCategory(c._id)" class="bk-del-icon">
                            <i style="margin-top: 10px;" class="material-icons md-light md-24">clear</i>
                        </span>
                     </div>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="row" ng-repeat="b in c.bookmarks">            
                <div flex="80"> 
                    <a target="_blank" ng-href="{{b.uri}}">{{b.name | uppercase}}</a>
                </div>
                <div flex="20">     
                    <span class="bk_pointer" ng-click="vm.openCategoryModal($event, b)"> <md-icon>edit</md-icon></span>  <span class="bk_pointer" ng-click="vm.deleteBookmark(c._id, b._id)"><md-icon>delete</md-icon></span>
                </div>
            </md-card-content>
        </md-card>
    </div>
</md-content>
