<div layout="row"><md-button ng-click="openCategoryModal($event)">Add Category</md-button></div>	
<div class='md-padding' layout="row" layout-wrap>
    <md-card style="width: 410px; margin: 35px;" ng-repeat="b in vm.bookmarks">
        <md-card-title>
            <md-card-title-text layout="column">
                <span class="md-headline">{{b.category_type}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <h2>{{b.bookmark.name}}</h2>
            <p>{{b.bookmark.uri}}</p>
        </md-card-content>
    </md-card>
</div>
