<div layout="row"><md-button ng-click="vm.openCategoryModal($event)">Add Category</md-button></div>	
<div class='md-padding' layout="row" layout-wrap>
    <md-card style="width: 410px; margin: 35px;" ng-repeat="c in vm.bookmarkList">
        <md-card-title>
            <md-card-title-text layout="column">
                <h2 class="md-headline">{{c.category_type | uppercase}}</h2>
            </md-card-title-text>
        </md-card-title>
        <md-card-content ng-repeat="b in c.bookmarks">            
            <p> 
                <a target="_blank" ng-href="{{b.uri}}">{{b.name | uppercase}}</a> 
                <span class="bk_pointer" ng-click="vm.openCategoryModal($event, b)"> edit</span> | <span class="bk_pointer" ng-click="vm.deleteBookmark(c._id, b._id)">delete</span>
            </p>
        </md-card-content>
    </md-card>
</div>
