.bk_pointer{
    cursor: pointer;
}

.bookmark-heading{
    padding: 0;
    color: white;
    background: #3E4FB2;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 25px; 
}

.bookmark-heading h2.md-headline {
    font-size: 20px;
    font-weight: 400;
    line-height: 15px;
}

span.bk-del-icon {
    cursor: pointer;
}